ion-nav-view, .pane {
    background:url(../img/slide-bg.jpg) no-repeat center top fixed !important;
}

.menu {
  background:url(../img/slide-bg.jpg) no-repeat !important; 
}

.item-complex .item-content, .item-radio .item-content {
  padding: 0px !important;
}

.ion-side-menu .item-complex .item-content {
  padding: 0px !important;
}

.recuerda-slide-menu {
    background-color: rgba(0, 0, 0, 0.39);
    padding-left: 10px;
    color: white !important;
    border-bottom: 1px solid #537A77;
    height: 50px;
    line-height: 50px;
    font-family: cursive;

}

.bar-stable .button.button-clear , .bar.bar-stable .title {
  color: #000000 !important;
  font-weight: bold !important;
}

.font-size-18 {
  font-size: 18px;
}

.no-padding {
  padding: 0px !important;
}

.extra-margin-top {
  margin-top: 15px;
}


/* New styles */

.login-page-title {
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  font-family: cursive;
}

.default-priority {
  opacity: 0.5;
  color: black;
}
.highlight-priority {
    color: lime !important;
    opacity: 1 !important;
    font-size: 20px !important;
}

.list-inset.sylabus-text {
  margin: 0px;
  height: 35px;
}

.sylabus-text .item-input {
  margin-top: -10px;
}

.text-style{
  padding-left: 10px !important;
}
.textarea-style{
  padding-left: 10px !important;
  height:70px;
}

.image-style{
  margin-right: 10px;
}

.home-user-img {
  border-radius: 50%;
}

.link-image{
  float:right;
  border-radius:50%;
}

.row.border-style {
  border-style: solid;
  border-width:1px;
  border-color:white;
}

.header-side-menu-scroll.space{
  margin-top:30px;
}

.home-notification-title {
  background: #5414de;
  color: white !important;
  border-radius: 10px 10px 0px 0px;
}

.home-notification-title.red {
  background: red;
}

.home-notification-description {
  background: rgba(84, 20, 222, 0.22);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
    padding-top: 10px !important;
}

.col.search-icon{
  text-align: right;
}

.full-border {
  border: 1px solid;
}

.home-detail-page {
  font-weight: bold;
}

.each-news-row {
      border-bottom: 2px solid rgba(176, 130, 202, 0.38);
      margin-bottom: 10px;
}

.img-align{
  text-align: right;
}
.rstyle {
    color: red;
}

.bcolorinput {
    background-color: #999999;
}

.lettercolor {
    background-color: #000033 !important;
    border-color: red;
}

.bcolor {
    background-color: #333366;
}

body {
    font-family : arial;
}
.sidebar {
    position : absolute;
    top : 0;
    left : -250px;
    transition : 100ms left;
    background-color: #444;
    height: 100% !important;
    z-index: 9999999999999999999999999;
}
#navigation-toggle {
        position: fixed;
        left: 0px;
        color: white;
        text-decoration: none;
        background: url(../img/menu_icon.png) no-repeat !important;
        display: block;
        width: 30px;
        margin-left: 5px;
            margin-top: 5px;
}
.show {
    left : 0;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}
.navigation-items a {
    display : block;
    background-color : #444;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 250px;

}
.navigation-items a:hover {
    background-color : #222;
}

.navigation-items img {
  margin-left: 10px !important;
}