<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
				<div class ="row">
						<div class="col-10">
						</div>
						<div class="col"><h4>Name</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<input type ="text" class="text-style" name="uname" ng-model="Editprofile.name">
					</div>
					<div class ="col-10">
					</div>
				</div>
				<div class ="row">
						<div class="col-10">
						</div>
						<div class="col"><h4>Address</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<textarea  class="textarea-style" name="uaddress" ng-model="Editprofile.address"></textarea>
					</div>
					<div class ="col-10">
					</div>
				</div>

				<div class ="row">
						<div class="col-10">
						</div>
						<div class="col">
							<h4>Phone number</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<input type ="text" class="text-style" name="phoneno" ng-model="Editprofile.phone">
					</div>
					<div class ="col-10">
					</div>
				</div>

				<!-- <div class ="row">
						<div class="col-10">
						</div>
						<div class="col"><h4>Email Id</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<input type ="text" class="text-style" name="emailid">
					</div>
					<div class ="col-10">
					</div>
				</div> -->


				<div class="row">
					<div class="col">
					</div>
				</div>
				<div class ="row">	
					<div class ="col-33">
					</div>
					<div class ="col">
						<input type ="button" class="button button-full button-assertive" value="Save" ng-click="Editprofile.editUserDetails()">
					</div>
					<div class ="col-33">
					</div>
				</div>
		
			
		
		</div>
	</ion-content>
</ion-view>