<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			<div class ="row">
				<div class="col-10">
				</div>
				<div class="col"><h4>EDIT PROFILE</h4>
				</div>
				<div class ="col-10">
				</div>
			</div>
			 
				<div class ="row">
						<div class="col-10">
						</div>
						<div class="col"><h4>Name</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<input type ="text" class="text-style" name="uname">
					</div>
					<div class ="col-10">
					</div>
				</div>
				<div class ="row">
						<div class="col-10">
						</div>
						<div class="col"><h4>Address</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<textarea  class="textarea-style" name="uaddress"> </textarea>
					</div>
					<div class ="col-10">
					</div>
				</div>

				<div class ="row">
						<div class="col-10">
						</div>
						<div class="col">
							<h4>Phone number</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<input type ="text" class="text-style" name="phoneno">
					</div>
					<div class ="col-10">
					</div>
				</div>

				<div class ="row">
						<div class="col-10">
						</div>
						<div class="col"><h4>Email Id</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<input type ="text" class="text-style" name="emailid">
					</div>
					<div class ="col-10">
					</div>
				</div>


				<div class="row">
					<div class="col">
					</div>
				</div>
				<div class ="row">	
					<div class ="col-33">
					</div>
					<div class ="col">
						<input type ="button" value="SuBmIt" ng-click="Editprofile.authinticateUser()">
					</div>
					<div class ="col-33">
					</div>
				</div>
		
			
		
		</div>
	</ion-content>
</ion-view>