<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
			<div class="row">
				<!-- <div class="col-10">
				</div> -->
				<div class="col">
					<div class="row">
						<div class="col-50 full-border align-center"><h4>SUBJECT</H4>
						</div>

						<div class="col-25 full-border align-center"><h4>DATE</H4>
						</div>

						<div class="col-25 full-border align-center"><h4>TIME</H4>
						</div>

					</div>
					
					<div class="row"  ng-repeat="timeTable in Series.timetables">
						<div class="col-50 full-border align-center">{{timeTable.subject_name}}</div>

						<div class="col-25 full-border align-center">{{timeTable.date_milli | date : 'MMM dd'}}</div>

						<div class="col-25 full-border align-center">{{timeTable.time}}</div>
					</div>
				</div>


				<!-- <div class="col-10">
				</div> -->
			</div>
		</div>
	</ion-content>
</ion-view>