<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div class="row">
						<div class="col"><h4>SUBJECT</H4>
						</div>

						<div class="col"><h4>DATE</H4>
						</div>

						<div class="col"><h4>TIME</H4>
						</div>

					</div>
					<div class="row">
						<div class="col"><input type="text" class="text-style" name="subject">
						</div>

						<div class="col"><input type="text" class="text-style" name="date" >
						</div>

						<div class="col"><input type="text" class="text-style" name="time" >
						</div>
					</div>
					<div class="row">
						<div class="col"><input type="text" class="text-style" name="subject">
						</div>

						<div class="col"><input type="text" class="text-style" name="date" >
						</div>

						<div class="col"><input type="text" class="text-style" name="time" >
						</div>
					</div>
					<div class="row">
						<div class="col"><input type="text" class="text-style" name="subject">
						</div>

						<div class="col"><input type="text" class="text-style" name="date" >
						</div>

						<div class="col"><input type="text" class="text-style" name="time" >
						</div>
					</div>
					<div class="row">
						<div class="col"><input type="text" class="text-style" name="subject">
						</div>

						<div class="col"><input type="text" class="text-style" name="date" >
						</div>

						<div class="col"><input type="text" class="text-style" name="time" >
						</div>
					</div>
					<div class="row">
						<div class="col"><input type="text" class="text-style" name="subject">
						</div>

						<div class="col"><input type="text" class="text-style" name="date" >
						</div>

						<div class="col"><input type="text" class="text-style" name="time" >
						</div>
					</div>
				</div>
				<div class="col-10">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>