<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			<br>
			<br>
			<br>

				<div class="row">
			  <div class="col-10">
			 </div>
			  <div class="col-80">
			      <img src="img/neweforget.png" width="100%" >
			  </div>
			  <div class="col-10">
			  </div>
			</div>
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col-80" style="color: #000033;margin-bottom: 10px;">
					Enter Your Email Address
				</div>
				<div class="col-10">
				</div>
			</div>
			
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col-80">
					<input type="text" placeholder="Email address" style=" width: 100% ;padding: 12px 20px ;margin: 8px 0 ;box-sizing: border-box; border: 3px solid #ccc;  -webkit-transition: 0.3s; transition: 0.3s;
                        outline: none; " ng-model="ForgotPassword.currentUser.email"/>
				</div>
				<div class="col-10">
				</div>
			</div>
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col-80">
					<button class="button button-block button-royal button-login reg-color newbcolorforbutton" ng-click="ForgotPassword.resetPassword()">Reset Password</button>
				</div>
				<div class="col-10">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>