<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
			<div class="row">
				<div class="col-10">
					</div>
					<div class="col">
						<div class="row">
							<div class="col-10"></div>
							<div class="col">
								<h4>FeedBack</h4></div>
							<div class="col-10"></div>
						</div>
						<div class="row">
							<div class="col-10"></div>
							<div class="col">
								<textarea class="textarea-style" name="feedback" ng-model="Feedback.feedbackMessage"></textarea>
							</div>
							<div class="col-10"></div>
						</div>
					<div class ="row">
				  		
					<div class ="col-10">
					</div>
					<div class ="col">
						<input class="button button-assertive" type ="button" ng-click="Feedback.sendFeedback()" value="Post">
					</div>
					<div class ="col-10">
					</div>
				</div>
					</div>
					<div class="col-10">
					</div>
			</div>
		</div>
	</ion-content>
</ion-view>