<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div class="row">
						<div class="col-10">
						</div>
						<div class="col">
						<div class="list list-inset sylabus-text">
						  <label class="item item-input">
						    <i class="icon ion-search placeholder-icon"></i>
						    <input type="text" class="text-style" placeholder="Subject" ng-model="Sylabus.subject">
						  </label>
						</div>
						</div>
							<div class="col">
							<div class="list list-inset sylabus-text">
						  	<label class="item item-input">
						    <i class="icon ion-search placeholder-icon"></i>
						    <input type="text" class="text-style" placeholder="Revision" ng-model="Sylabus.revision_code">
						  	</label>
							</div>
							</div>
						<div class="col-10">
							</div>
						</div>
						<div class="row">
							<div class="col-10">
							</div>
							<div class="col search-icon">
								<img src="img/search-icon.png" ng-click="Sylabus.getSyllabus()">
							</div>
							<div class="col-10">
							</div>
						</div>
					<div class="row" ng-if="Sylabus.syllabusDetails.module_1">
						<div class="col-10">
						</div>
						<div class="col">
							<h4> Module 1</h4>
						</div>
						<div class="col-10">
						</div>
					</div>
					<div class="row" ng-if="Sylabus.syllabusDetails.module_1">
						<div class="col-10">
						</div>
						<div class="col">{{Sylabus.syllabusDetails.module_1}}
						</div>
						<div class="col-10">
						</div>
					</div>

					<div class="row" ng-if="Sylabus.syllabusDetails.module_2">
						<div class="col-10">
						</div>
						<div class="col">
							<h4> Module 2</h4>
						</div>
						<div class="col-10">
						</div>
					</div>
					<div class="row" ng-if="Sylabus.syllabusDetails.module_2">
						<div class="col-10">
						</div>
						<div class="col">{{Sylabus.syllabusDetails.module_2}}
						</div>
						<div class="col-10">
						</div>
					</div>

					<div class="row" ng-if="Sylabus.syllabusDetails.module_3">
						<div class="col-10">
						</div>
						<div class="col">
							<h4> Module 3</h4>
						</div>
						<div class="col-10">
						</div>
					</div>
					<div class="row" ng-if="Sylabus.syllabusDetails.module_3">
						<div class="col-10">
						</div>
						<div class="col">{{Sylabus.syllabusDetails.module_3}}
						</div>
						<div class="col-10">
						</div>
					</div>

					<div class="row" ng-if="Sylabus.syllabusDetails.module_4">
						<div class="col-10">
						</div>
						<div class="col">
							<h4> Module 4</h4>
						</div>
						<div class="col-10">
						</div>
					</div>
					<div class="row" ng-if="Sylabus.syllabusDetails.module_4">
						<div class="col-10">
						</div>
						<div class="col">{{Sylabus.syllabusDetails.module_4}}
						</div>
						<div class="col-10">
						</div>
					</div>
				</div>
				<div class="col-10">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>