<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div class="row">
						<div class="col-10">
						</div>
						<div class="col">
						<div class="list list-inset sylabus-text">
						  <label class="item item-input">
						    <i class="icon ion-search placeholder-icon"></i>
						    <input type="text" class="text-style" placeholder="Search">
						  </label>
						</div>
						</div>
						<div class="col-10">
							</div>
					</div>
					<div class="row">
						<div class="col-10">
						</div>
						<div class="col">
							<h4> Module 1</h4>
						</div>
						<div class="col-10">
						</div>
					</div>
					<div class="row">
						<div class="col-10">
						</div>
						<div class="col">
							<input type="text" class="text-style" name="module1">
						</div>
						<div class="col-10">
						</div>
					</div>

					<div class="row">
						<div class="col-10">
						</div>
						<div class="col">
							<h4> Module 2</h4>
						</div>
						<div class="col-10">
						</div>
					</div>
					<div class="row">
						<div class="col-10">
						</div>
						<div class="col">
							<input type="text" class="text-style" name="module2">
						</div>
						<div class="col-10">
						</div>
					</div>
					<div class ="row">	
					<div class ="col-33">
					</div>
					<div class ="col">
						<input type ="button" value="Submit">
					</div>
					<div class ="col-33">
					</div>
				</div>
				</div>
				<div class="col-10">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>