<ion-view title={{pageTitle}}>
	<ion-content class="tasks-page">
		<div class="ion-content">
			<!--  <div class="row">
			  <div class="col"></div>
			  <div class="col tasks-page-title">TASKS</div>
			  <div class="col"></div>
			</div>-->  
			<div class="row">
				<div class="col">
					<center>
						<a href=""><img ng-if="!Home.userImage" src="img/default-user-image.png" class="home-user-img"></a>
						<img ng-if="Home.userImage" class="home-user-img" style="width:30%" ng-src='{{Home.userImage}}' alt="dp"/>
					</center>
				</div>
			</div>
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div class="row">
						<div class="col"><a href="#/homedetail"><img src="img/dd.png" class="link-image" /></a></div>
					</div>
					<div ng-if="Home.nextSeriesExam">
						<div class="row row.border-style home-notification-title red">
							<div class="col"><a href="index.html#/seriestimetable" style="text-decoration: none;color: white;font-weight: bold;">{{Home.nextSeriesExam.title}}</a></div>
						</div>	
						<div class="row home-notification-description">
							<div class="col">{{Home.nextSeriesExam.message}}</div>
						</div>
					</div>

					<div ng-if="Home.nextUniversityExam">
						<div class="row row.border-style home-notification-title red">
							<div class="col"><a href="index.html#/timetable" style="text-decoration: none;color: white;font-weight: bold;">{{Home.nextUniversityExam.title}}</a></div>
						</div>	
						<div class="row home-notification-description">
							<div class="col">{{Home.nextUniversityExam.message}}</div>
						</div>
					</div>

					<div ng-repeat="notification in Home.notifications">
						<div class="row row.border-style home-notification-title">
							<div class="col">{{notification.title}}</div>
						</div>	
						<div class="row home-notification-description">
							<div class="col">{{notification.description}}</div>
						</div>
					</div>
					
				</div>
				<div class="col-10">
				</div>
			</div> 
	 	 </div>
	</ion-content>
</ion-view>