<ion-view title={{pageTitle}}>
	<ion-content class="tasks-page">
		<div class="ion-content">
			<!--  <div class="row">
			  <div class="col"></div>
			  <div class="col tasks-page-title">TASKS</div>
			  <div class="col"></div>
			</div>-->  
			<div class="row">
				<div class="col">
					<center>
						<a href="http://localhost:8082/campus/index.html#/homedetail"><img src="img/default-user-image.png" class="home-user-img"></a>
					</center>
				</div>
			</div>
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div class="row">
						<div class="col"><a href="http://localhost:8082/campus/index.html#/notifications"><img src="img/dd.png" class="link-image" /></a></div>
					</div>
					<div class="row row.border-style">
						<div class="col">Title</div>
					</div>
					<div class="row">
						<div class="col">sdfghdhdhklgghhljg</div>
					</div>
					<div class="row border-style">
						<div class="col">Title</div>
					</div>
					<div class="row">
						<div class="col">ettyuuoioiujjjjhjj</div>
					</div>
					</div>
				<div class="col-10">
				</div>
			</div> 
	 	 </div>
	</ion-content>
</ion-view>