<ion-view title={{pageTitle}}>
	<ion-content class="tasks-page">
		<div class="ion-content">
			<!--  <div class="row">
			  <div class="col"></div>
			  <div class="col tasks-page-title">TASKS</div>
			  <div class="col"></div>
			</div>-->  
			<div class="row">
				<div class="col">
					<center><img ng-if="!HomeDetail.userImage" src="img/default-user-image.png" class="home-user-img">
						<img ng-if="HomeDetail.userImage" class="home-user-img" style="width:30%" ng-src='{{HomeDetail.userImage}}' alt="dp"/>
					</center>
				</div>
			</div>
			<div class="row home-detail-page">
				<div class="col-10">
				</div>
				<div class="col">
					<div class="row">
						<div class="col"></div>
					</div>
					<div class="row">
						<div class="col">Name</div>
						<div class="col">{{HomeDetail.userDetails.name}}</div>
					</div>
					<div class="row">
						<div class="col">Address</div>
						<div class="col">{{HomeDetail.userDetails.address}}</div>
					</div>
					<div class="row">
						<div class="col">Branch</div>
						<div class="col">{{HomeDetail.userDetails.branch}}</div>
					</div>
					<div class="row">
						<div class="col">Year</div>
						<div class="col">{{HomeDetail.userDetails.year}}</div>
					</div>
					<div class="row">
						<div class="col">College</div>
						<div class="col">{{HomeDetail.userDetails.college}}</div>
					</div>
					</div>
				<div class="col-10">
				</div>
			</div> 
	 	 </div>
	</ion-content>
</ion-view>