<ion-view title={{pageTitle}}>
	<ion-content class="tasks-page">
		<div class="ion-content">
			<!--  <div class="row">
			  <div class="col"></div>
			  <div class="col tasks-page-title">TASKS</div>
			  <div class="col"></div>
			</div>-->  
			<div class="row">
				<div class="col">
					<center><img src="img/default-user-image.png" class="home-user-img">
					</center>
				</div>
			</div>
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<div class="row">
						<div class="col"><a href="http://localhost:8082/campus/index.html#/notifications"><img src="img/dd.png" class="link-image" /></a></div>
					</div>
					<div class="row">
						<div class="col">Name</div>
						<div class="col">sdfghdhdhklgghhljg</div>
					</div>
					<div class="row">
						<div class="col">Address</div>
						<div class="col">ettyuuoioiujjjjhjj</div>
					</div>
					<div class="row">
						<div class="col">Branch</div>
						<div class="col">ettyuuoioiujjjjhjj</div>
					</div>
					<div class="row">
						<div class="col">Year</div>
						<div class="col">ettyuuoioiujjjjhjj</div>
					</div>
					<div class="row">
						<div class="col">College</div>
						<div class="col">ettyuuoioiujjjjhjj</div>
					</div>
					</div>
				<div class="col-10">
				</div>
			</div> 
	 	 </div>
	</ion-content>
</ion-view>