<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
				<div class ="row">
						<div class="col-10">
						</div>
						<div class="col"><h4>Current Password</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<input type ="text" class="text-style" ng-model="ChangePassword.currentUser.currentpassword">
					</div>
					<div class ="col-10">
					</div>
				</div>
				<div class ="row">
						<div class="col-10">
						</div>
						<div class="col"><h4>New Password</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<input type ="text" class="text-style" name="npass" ng-model="ChangePassword.currentUser.newpassword">
					</div>
					<div class ="col-10">
					</div>
				</div>

				<div class ="row">
						<div class="col-10">
						</div>
						<div class="col">
							<h4>Confirm Password</h4>
						</div>

				</div>
				<div class ="row">		
					<div class ="col-10">
					</div>
					<div class ="col">
						<input type ="text" class="text-style" name="confirmpass" ng-model="ChangePassword.currentUser.confirmpassword">
					</div>
					<div class ="col-10">
					</div>
				</div>


				<div class="row">
					<div class="col">
					</div>
				</div>
				<div class ="row">	
					<div class ="col-33">
					</div>
					<div class ="col">
						<input type ="button" class="button button-full button-assertive" value="Save" ng-click="ChangePassword.changePassword()">
					</div>
					<div class ="col-33">
					</div>
				</div>
		
			
		
		</div>
	</ion-content>
</ion-view>