<div ng-controller="SidebarController" class="sidebar" sidebar-directive="state">
	                <a href="" id="navigation-toggle" ng-click="toggleState()">&nbsp;</a>
	                <ul class="navigation">
	                	<li class="navigation-items" style="padding-top: 25px;"> <a href="index.html#/home">Home</a> </li>
	                    <li class="navigation-items"> <a href="index.html#/editprofile">Edit profile</a> </li>
	                    <li class="navigation-items"> <a href="">Link2</a> </li>
	                    <li class="navigation-items"> <a href="">Link3</a> </li>
	                    <li class="navigation-items"> <a href="">Link4</a> </li>
	                    <li class="navigation-items"> <a href="">Link4</a> </li>
	                </ul>
	            </div>